<ion-view view-title="Predict bankruptcy risk">
    <ion-content>
     
        <div class="list">
            <form name="calcForm">
                <label class="item item-input " >
                <span class="input-label">Liquidity</span>
                    <input type="number" ng-model="$parent.num1" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <item-md-label class="item item-input">
                <span class="input-label">Efficiency</span>
                    <input type="number" ng-model="$parent.num2" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </item-md-label>
                <label class="item item-input">
                <span class="input-label">Size</span>
                    <input type="number" ng-model="$parent.num3" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">Concentration Index</span>
                    <input type="number" ng-model="$parent.num4" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">Asset Quality</span>
                    <input type="number" ng-model="$parent.num5" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">Market Share</span>
                    <input type="number" ng-model="$parent.num6" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">GDP</span>
                    <input type="number" ng-model="$parent.num7" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">Inflation</span>
                    <input type="number" ng-model="$parent.num8" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label class="item item-input">
                <span class="input-label">Error</span>
                    <input type="number" ng-model="$parent.num9" ng-pattern="/^[0-9]+(\.[0-9]{1,5})?$/" step="0.00001" placeholder="" required>
                </label>
                <label style="padding-bottom: 0px;!important" class="item">
                    <button class="button button-block button-positive" ng-click="doCalc()">Calculate</button>
                </label>
                <label style="padding-top: 0px;!important" class="item">
                    <button class="button button-block button-assertive" ng-click="resetForm()">Reset Values</button>
                </label> 
            </form>
        </div>
    </ion-content>
</ion-view>
